

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Pet Universe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Browse Products</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Careers</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="#">Retail Positions</a>
                    <a class="dropdown-item" href="#">Shelter Positions</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Foster</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Volunteer</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="#">Dog Walker</a>
                    <a class="dropdown-item" href="#">Cat Whisperer</a>
                    <a class="dropdown-item" href="#">Veterinarian</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Learn More!</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        @Html.Partial("_LoginPartial")
    </div>
</nav>