@model IEnumerable<DataTransferObjects.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Avalible Animals</h2>

<h2>Animals Avalible for Adoption</h2>
<div class="card-deck" style="width: 100%;">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 40%;">
            @if (item.ProfileImageData != null)
            {
                <img class="card-img-top" alt="@item.AnimalName"
                     src="@Url.Action("GetImage", new { item.AnimalID })" />
            }
            <div class="card-body">
                <h5 class="card-title">@item.AnimalName</h5>
                <p class="card-text">@item.ProfileDescription</p>
                
            </div>
        </div>
    }
</div>